.App > * {
  margin: auto;
}

select {
  margin: 40px;
  background-color: white;
}
.space-right {
  margin-right: 5px;
}
.space-left {
  margin-left: 5px;
}
.margin-top {
  margin-top: 30px;
}
.btn,
.btn-bold {
  background-color: white;
  border: 1px solid #dbd9d2;
  color: #403b3b;
  padding: 5px 17px;
  float: center;
  border-radius: 2px;
}
.btn-bold {
  font-weight: bold;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group,
.btn:not(:last-child) {
  border-right: none;
}
input {
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  padding: 5px 15px;
}

.selected-plus,
.selected-minus {
  background-color: #dbd8d8;
  border: 1px solid #8c8c8c;
  color: #403b3b;
  padding: 5px 17px;
  float: center;
  border-radius: 2px;
}

.pointer:hover {
  cursor: pointer;
}

.App {
  text-align: center;
}

.user {
  text-align: right;
  font-weight: bold;
}
.comment-area {
  width: 80%;
  min-height: 80px;
  background-color: #f6f6f4;
}
.grey-italic {
  color: #8c8c8c;
  font-style: italic;
}
.user-login {
  max-width: 80%;
  text-align: center;
  padding: 100px 40px;
  margin: 2% auto;
  border-style: solid;
  border-width: 1px;
  border-color: #dbd9d2;
  background-color: #f6f6f4;
}

.single-comment {
  background-color: #dbd9d2;
  max-width: 80%;
  text-align: left;
  padding: 40px;
  margin: 2% auto;
  border-style: solid;
  border-width: 1px;
  border-color: #dbd9d2;
}
.single-article {
  background-color: #f6f6f4;
  max-width: 80%;
  text-align: left;
  padding: 40px;
  margin: 2% auto;
  border-style: solid;
  border-width: 1px;
  border-color: #dbd9d2;
}
.break-word {
  word-break: break-all;
}
header {
  max-width: 80%;
  padding: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: #dbd9d2;
  margin-bottom: 20px;
}
nav {
  padding-top: 10px;
}

.op-link {
  text-decoration: none;
  color: #8c8c8c;
}
.link:hover {
  color: #1c2833;
}
.link {
  text-decoration: none;
  color: #1c2833;
}
.link:hover {
  color: #8c8c8c;
}
.button {
  background-color: white;
  border: 1px solid #8c8c8c;
  color: #241c15;
  padding: 5px 17px;
  margin-right: 5px;
  border-radius: 2px;
}
.button:hover {
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
